@import "tailwindcss";

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-rubik: var(--font-rubik);
  --font-andes: var(--font-andes);

  --color-red: #93001c;
  --color-white: #ffffff;

  --breakpoint-ssm: 390px;
  --breakpoint-xxl: 1600px;
}

@layer base {
  :root:has(.no-doc-scroll) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-rubik), sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a.underline {
    text-decoration: underline;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .nav-menu-item-gradient-hover:hover {
    background: linear-gradient(
      273.78deg,
      rgba(255, 255, 255, 0.2) 3.03%,
      #ffffff 50.66%,
      rgba(255, 255, 255, 0.2) 96.83%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 1600ms linear infinite;
}
